{% extends 'base.html.twig' %}

{% block title %}Welcome to Space Bar{% endblock %}

{% block body %}
<div class="container">
	<div class="row">
		<div class="col-sm-12 col-md-8">
			<div class="main-article">
				<img src="{{ asset('images/meteor-shower.jpg') }}">
				<h1 class="text-center">Meteor shower</h1>
			</div>
		</div>
		<div class="col-sm-12 col-md-8">
			{% for story in articles %}
				<div class="article-container"> 
					<img src="asset('images/asteroid.jpeg')">
					{{story.authorId}}
					{{story.Content}}
				</div>
			{% endfor %}
		</div>
	</div>
</div>
{% endblock %}
